.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  /* margin-top: 20px; */
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 8px 18px;
  font-size: 14px;
  /* border: 1px solid #ddd; */
  text-align: left;
}

th input {
  /* width: 100%; */
  padding: 6px;
  box-sizing: border-box;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
} */

.actions {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.actions .edit {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 3px;
}

.actions .delete {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 3px;
}

.actions-header {
  /* width: 120px; */
  text-align: center;
}

.pagination {
  margin-top: 15px;
  text-align: center;
}

.pagination button {
  margin: 2px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pagination .active {
  background-color: #3f51b5;
  color: white;
}